# conda environments:
#
base                     C:\Users\harri\anaconda3
opencv                   C:\Users\harri\anaconda3\envs\opencv
pandas                   C:\Users\harri\anaconda3\envs\pandas
pyside6                  C:\Users\harri\anaconda3\envs\pyside6
python_playground        C:\Users\harri\anaconda3\envs\python_playground
tensorflow_2          *  C:\Users\harri\anaconda3\envs\tensorflow_2

